:root {
  --fa-padding: 5px
  --fa-box-shadow: 0px 8px 20px rgba(0,0,0,0.35)
  --fa-box-background: rgba(0,0,0,.25)
  --fa-box-gap: 10px
  --fa-box-padding: 10px
  --fa-accent-color: #0c4753
  --fa-accent-color-hue: #092b32
  --fa-accent-text: #ffffff
  --fa-accent-text-hue: #829da2
  --fa-accent-border: 1px solid var(--fa-accent-color-hue)
  --fa-success: #2bd46f
  --fa-danger: #ff0000
  --fa-warning: #ff9c00
  --fa-warning-hue: #b36e00
  --fa-primary-text: #ffffff
  --fa-primary-color: #121719
  --fa-primary-color-hue: #283133
  --fa-secondary-color: #ffffff
  --fa-secondary-color-hue: #eeeeee
  --fa-secondary-text: #000000
  --fa-selected-bg: #367fce
  --fa-selected-color: #424242
  --fa-border-color: rgba(255,255,255,0.25)
  --fa-border: 1px solid var(--fa-primary-color-hue)
  --fa-border-radius: 2px
  --fa-border-radius-soft: 4px
}