:host
  display: block
  position: sticky
  top: var(--fa-sticky-top, 0)
  bottom: var(--fa-sticky-bottom, unset)
  z-index: var(--fa-sticky-z-index, 0)

.sentinel
  position: absolute
  left: 0
  right: 0
  top: -1px
  height: 1px
  visibility: hidden
